{% extends 'base.html' %}
{% block title %}Sobre nós{% endblock  %}
{% block head %}{% endblock  %}

{% block content %}
<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Olá! Meu nome é Jonathas David e fui o desenvolvedor desse projeto chamado "Lojinha Django" com ajuda do Youtuber Fabio Rucci.
        Infelizmente não deseolvi até os passos finais em que precisa lidar com o pagamento, porem todos os serviçoes de listagem, compra e carrinho estao funcionando.        
    </p>
    <p>
        Caso queira saber como o projeto foi construido basta aceessar meu <a href="">GitHub</a>
    </p>
</div>
{% block sobrenos %}{% endblock sobrenos %}
{% endblock  %}