{% extends 'base.html' %}
{% comment %} {% block title %}Home{% endblock title %} {% endcomment %}


{% block head %}{% endblock  %}

{% block content %}
<div class="container my-3">
    <h1 class="font-weight-bold">Olá!</h1>
    <p>
        Olá! Meu nome é Jonathas David e fui o desenvolvedor desse projeto chamado "Lojinha Django" com ajuda do Youtuber <a href="https://www.youtube.com/c/fabioruicce">Fabio Ruicci</a>.
        Infelizmente não deseolvi até os passos finais em que precisa lidar com o pagamento, porem todos os serviçoes de listagem, compra e carrinho estao funcionando.
    </p>
    <p>
        Caso queira saber como o projeto foi construido basta aceessar meu <a href="https://github.com/Rip4568/MarketplacePython" target="_blank">GitHub</a>.
    </p>
</div>

{% endblock content %}